*{
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
    box-sizing: border-box;
}
/*                              Web header section                              */
nav i {
    display: none;
}
body{
    background: black;
    color: white;
}

#header{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: auto;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px ;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: #d660d8;
    text-shadow: 0 0 10px #d660d8,  0 0 20px #d660d8, 0 0 40px #d660d8, 0 0 80px #d660d8,0 0 100px #d660d8;
    filter: brightness(1.25);
    
}
button{
    padding: 9px 25px;
    background-color: rgba(253, 253, 253,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    color: black;
    font-size: 18px;
}
button:hover {
    background-color: rgba(253, 253, 253,0.8);
}
/* contact */

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 65%;
}
.contact-right p{
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: flex-start;
    color: #fff;
}
/* general thing */
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
}


/* csss for small screen */
@media only screen and (max-width: 600px){
    #header{
        background-image: url(/images/prfile.png);
    }
    .intro_text{
        margin-top: 100%;
        font-size: 16px;
    }
    .intro_text h1 {
       font-size: 30px;
       margin-top: 20px;
    }
    nav i {
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #d660d8;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.5s;
    }
    nav ul li{
        display:block;
        padding-left: 12px;
    }
    nav ul i{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav i {
        cursor: pointer
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .about-col-2{
        flex-basis: 100%;
        font-size: 13px;
    }
    .tablink{
        font-size: 16px;
        margin-right: 20px;
    }
}