/* qualification scetion */

#qualification{
    padding: 30px 0;
}
table, td, th {
    border: 1px solid;
    padding: 0px 12px;
    
}
#table{
    border-collapse: collapse;
    overflow-x:auto;
    border: 1px solid;
}


#cv{
    
    width: 50vh;
    height: auto;
    display: block; 
    padding-top: 17px;


}
/* csss for small screen */
@media only screen and (max-width: 600px){
    #cv{
    
        width: 30vh;
        height: auto;
        display: block; 
        padding-top: 17px;
    
    
    }
    .container{
    overflow-x: scroll;
    }
}